.catalog {
  /* .catalog__query-list */
  &__query-list-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }

  &__query-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }

 


}
