<div class="card-detail">
  <div class="card-detail__container container">
    <div class="card-detail__inner">
      <div class="card-detail__content-wrapper">
        <div class="card-detail__banner">
          <p class="card-detail__banner-title">Бифиформ Мастер баннер 01.25-03.25</p>
          <div class="card-detail__banner-content-box">
            <div class="card-detail__banner-info-wrapper">
              <ul class="card-detail__banner-billet-list">
                <li class="card-detail__banner-billet-item txt20 txt20_medium card-detail__banner-billet-item--brand">
                  Бифиформ
                </li>
                <li class="card-detail__banner-billet-item txt20 txt20_medium card-detail__banner-billet-item--type">
                  Медиа баннер
                </li>
                <li class="card-detail__banner-billet-item txt20 txt20_medium card-detail__banner-billet-item--time">
                  Декабрь 2024-Январь 2025
                </li>
                <li class="card-detail__banner-billet-item txt20 txt20_medium card-detail__banner-billet-item--size">1024/240</li>
              </ul>

              <ul class="card-detail__banner-info-box">
                <li class="card-detail__banner-info-row">
                  <p class="card-detail__banner-info-title txt20 txt20_regular">SKU</p>
                  <div class="card-detail__banner-info-content">
                    <p class="card-detail__banner-info-content-text txt20 txt20_regular">
                      Зубная паста Sensodyne Clinical White Активное Отбеливание
                    </p>
                  </div>
                </li>
                <li class="card-detail__banner-info-row">
                  <p class="card-detail__banner-info-title txt20 txt20_regular">Инициатор</p>
                  <div class="card-detail__banner-info-content">
                    <p class="card-detail__banner-info-content-text txt20 txt20_regular">Отдел маркетинга</p>
                  </div>
                </li>
                <li class="card-detail__banner-info-row">
                  <p class="card-detail__banner-info-title txt20 txt20_regular">Исполнитель</p>
                  <div class="card-detail__banner-info-content">
                    <p class="card-detail__banner-info-content-text txt20 txt20_regular">Чеки из Аптеки</p>
                  </div>
                </li>
                <li class="card-detail__banner-info-row">
                  <p class="card-detail__banner-info-title txt20 txt20_regular">Площадка</p>
                  <div class="card-detail__banner-info-content">
                    <ul class="card-detail__banner-info-content-platform-list">
                      <li class="card-detail__banner-info-content-platform-item txt20 txt20_regular">Apteka.ru</li>
                      <li class="card-detail__banner-info-content-platform-item txt20 txt20_regular">Stolichki</li>
                    </ul>
                  </div>
                </li>
                <li class="card-detail__banner-info-row">
                  <p class="card-detail__banner-info-title txt20 txt20_regular">Ссылка на Figma</p>
                  <div class="card-detail__banner-info-content">
                    <div class="card-detail__banner-info-link-box">
                      <a href="#" class="card-detail__banner-info-link txt14 txt14_medium">ССЫЛКА на фигму</a>
                      <button class="card-detail__banner-info-link-copy-btn">
                        <img src="./assets/images/copy.svg" alt="copy" />
                      </button>
                    </div>
                  </div>
                </li>
                <li class="card-detail__banner-info-row">
                  <p class="card-detail__banner-info-title txt20 txt20_regular">Файлы исходника</p>
                  <div class="card-detail__banner-info-content">
                    <ul class="card-detail__banner-info-sources-list">
                      <li class="card-detail__banner-info-sources-item">
                        <a href="#" class="card-detail__banner-info-sources-link">
                          <div class="card-detail__banner-info-sources-img-box">
                            <img src="./assets/images/psdFile.svg" alt="" />
                          </div>
                          <p class="card-detail__banner-info-sources-title txt18 txt18_regular">624-624.psd</p>
                        </a>
                      </li>
                      <li class="card-detail__banner-info-sources-item">
                        <a href="#" class="card-detail__banner-info-sources-link">
                          <div class="card-detail__banner-info-sources-img-box">
                            <img src="./assets/images/psdFile.svg" alt="" />
                          </div>
                          <p class="card-detail__banner-info-sources-title txt18 txt18_regular">624-624.psd</p>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            <div class="card-detail__banner-img-swiper-box">
              <div class="card-detail__banner-img-swiper swiper">
                <div class="card-detail__banner-img-swiper-wrapper swiper-wrapper">
                  <div class="card-detail__banner-img-slide swiper-slide">
                    <a
                      data-fancybox="banner"
                      href="./assets/images/videoTest.mp4"
                      class="card-detail__banner-img-box card-detail__banner-img-box--video"
                    >
                      <img src="./assets/images/cardImg.webp" alt="card image" />
                      <!-- <video muted playsinline loop src="./assets/images/videoTest.mp4"></video> -->
                    </a>
                  </div>

                  <div class="card-detail__banner-slide swiper-slide">
                    <a data-fancybox="banner" href="./assets/images/cardImg.webp" class="card-detail__banner-img-box">
                      <img src="./assets/images/cardImg.webp" alt="card image" />
                    </a>
                  </div>
                </div>
                <div class="card-detail__banner-img-swiper-pagination swiper-pagination"></div>
              </div>

              <button class="card-detail__banner-favorite-btn isActive">
                <div class="card-detail__banner-favorite-svg-box">
                  <img src="./assets/images/favoriteWhite.svg" alt="favorite" />
                </div>
              </button>
            </div>
          </div>
        </div>

        <div class="card-detail__resizes">
          <p class="card-detail__resizes-title txt28 txt28_regular">Ресайзы</p>
          <div class="card-detail__resizes-content-box">
            <div class="card-detail__resizes-resizes-box txt20 txt20__regular" style="text-align: center">
              тут будет блок с ресайзами
            </div>
          </div>
        </div>
      </div>
      <div class="card-detail__btn-box"></div>
    </div>
  </div>
</div>
