<div class="catalog__main-list-box">
  <div class="catalog__main-list-wrapper">
    <ul class="catalog__main-list">
      <li class="catalog__main-item">
        <a href="#" class="catalog__main-item-link">
          <div class="catalog__main-item-img-box">
            <img src="./assets/images/catalogMain/catalogMain1.webp" alt="" />
          </div>
          <div class="catalog__main-item-logo-box">
            <img src="./assets/images/catalogMain/catalogMain1logo.webp" alt="" />
          </div>
        </a>
      </li>
      <li class="catalog__main-item">
        <a href="#" class="catalog__main-item-link">
          <div class="catalog__main-item-img-box">
            <img src="./assets/images/catalogMain/catalogMain2.webp" alt="" />
          </div>
          <div class="catalog__main-item-logo-box">
            <img src="./assets/images/catalogMain/catalogMain2logo.webp" alt="" />
          </div>
        </a>
      </li>
      <li class="catalog__main-item">
        <a href="#" class="catalog__main-item-link">
          <div class="catalog__main-item-img-box">
            <img src="./assets/images/catalogMain/catalogMain3.webp" alt="" />
          </div>
          <div class="catalog__main-item-logo-box">
            <img src="./assets/images/catalogMain/catalogMain3logo.webp" alt="" />
          </div>
        </a>
      </li>
      <li class="catalog__main-item">
        <a href="#" class="catalog__main-item-link">
          <div class="catalog__main-item-img-box">
            <img src="./assets/images/catalogMain/catalogMain4.webp" alt="" />
          </div>
          <div class="catalog__main-item-logo-box">
            <img src="./assets/images/catalogMain/catalogMain4logo.webp" alt="" />
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="catalog__main-list-wrapper">
    <ul class="catalog__main-list">
      <li class="catalog__main-item">
        <a href="#" class="catalog__main-item-link">
          <div class="catalog__main-item-img-box">
            <img src="./assets/images/catalogMain/catalogMain5.webp" alt="" />
          </div>
          <div class="catalog__main-item-logo-box">
            <img src="./assets/images/catalogMain/catalogMain5logo.webp" alt="" />
          </div>
        </a>
      </li>
      <li class="catalog__main-item">
        <a href="#" class="catalog__main-item-link">
          <div class="catalog__main-item-img-box">
            <img src="./assets/images/catalogMain/catalogMain6.webp" alt="" />
          </div>
          <div class="catalog__main-item-logo-box">
            <img src="./assets/images/catalogMain/catalogMain6logo.webp" alt="" />
          </div>
        </a>
      </li>
      <li class="catalog__main-item">
        <a href="#" class="catalog__main-item-link">
          <div class="catalog__main-item-img-box">
            <img src="./assets/images/catalogMain/catalogMain7.webp" alt="" />
          </div>
          <div class="catalog__main-item-logo-box">
            <img src="./assets/images/catalogMain/catalogMain7logo.webp" alt="" />
          </div>
        </a>
      </li>
      <li class="catalog__main-item">
        <a href="#" class="catalog__main-item-link">
          <div class="catalog__main-item-img-box">
            <img src="./assets/images/catalogMain/catalogMain8.webp" alt="" />
          </div>
          <div class="catalog__main-item-logo-box">
            <img src="./assets/images/catalogMain/catalogMain8logo.webp" alt="" />
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="catalog__main-list-wrapper">
    <ul class="catalog__main-list">
      <li class="catalog__main-item">
        <a href="#" class="catalog__main-item-link">
          <div class="catalog__main-item-img-box">
            <img src="./assets/images/catalogMain/catalogMain9.webp" alt="" />
          </div>
          <div class="catalog__main-item-logo-box">
            <img src="./assets/images/catalogMain/catalogMain9logo.webp" alt="" />
          </div>
        </a>
      </li>

      <li class="catalog__main-item">
        <a href="#" class="catalog__main-item-link">
          <div class="catalog__main-item-img-box">
            <img src="./assets/images/catalogMain/catalogMain10.webp" alt="" />
          </div>
          <div class="catalog__main-item-logo-box">
            <img src="./assets/images/catalogMain/catalogMain10logo.webp" alt="" />
          </div>
        </a>
      </li>
      <li class="catalog__main-item">
        <a href="#" class="catalog__main-item-link">
          <div class="catalog__main-item-img-box">
            <img src="./assets/images/catalogMain/catalogMain11.webp" alt="" />
          </div>
          <div class="catalog__main-item-logo-box">
            <img src="./assets/images/catalogMain/catalogMain11logo.webp" alt="" />
          </div>
        </a>
      </li>
      <li class="catalog__main-item">
        <a href="#" class="catalog__main-item-link">
          <div class="catalog__main-item-img-box">
            <img src="./assets/images/catalogMain/catalogMain12.webp" alt="" />
          </div>
          <div class="catalog__main-item-logo-box">
            <img src="./assets/images/catalogMain/catalogMain12logo.webp" alt="" />
          </div>
        </a>
      </li>
    </ul>
  </div>

  <div class="catalog__main-list-wrapper">
    <ul class="catalog__main-list">
      <li class="catalog__main-item">
        <a href="#" class="catalog__main-item-link">
          <div class="catalog__main-item-img-box">
            <img src="./assets/images/catalogMain/catalogMain13.webp" alt="" />
          </div>
          <div class="catalog__main-item-logo-box">
            <img src="./assets/images/catalogMain/catalogMain13logo.webp" alt="" />
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
