<div class="catalog__filters">
  <div class="catalog__filters-list">
    <div class="catalog__filters-block">
      <p class="catalog__filters-title txt18 txt18_medium">Бренд</p>

      <div class="catalog__filters-form-box">
        <label class="catalog__filters-search-box">
          <div class="catalog__filters-search-loupe-box">
            <img src="./assets/images/loupeFilterSearch.svg" alt="search" />
          </div>
          <input type="text" class="catalog__filters-search-input txt18 txt18_regular" placeholder="Поиск" />
          <button class="catalog__filters-search-clear-btn">
            <img src="./assets/images/clear.svg" alt="search" />
          </button>
        </label>
        <form action="" class="catalog__filters-form txt18 txt18_regular">
          <label class="catalog__filters-label">
            <input name="brand" type="radio" class="catalog__filters-input" checked />
            <span class="catalog__filters-square"></span>
            <span class="catalog__filters-input-title txt18 txt18_medium">Sensodyne</span>
          </label>
          <label class="catalog__filters-label">
            <input name="brand" type="radio" class="catalog__filters-input" />
            <span class="catalog__filters-square"></span>
            <span class="catalog__filters-input-title txt18 txt18_medium">Вольтарен</span>
          </label>
          <label class="catalog__filters-label">
            <input name="brand" type="radio" class="catalog__filters-input" />
            <span class="catalog__filters-square"></span>
            <span class="catalog__filters-input-title txt18 txt18_medium">Зовиракс</span>
          </label>
          <label class="catalog__filters-label">
            <input name="brand" type="radio" class="catalog__filters-input" />
            <span class="catalog__filters-square"></span>
            <span class="catalog__filters-input-title txt18 txt18_medium">Корега</span>
          </label>
          <label class="catalog__filters-label">
            <input name="brand" type="radio" class="catalog__filters-input" />
            <span class="catalog__filters-square"></span>
            <span class="catalog__filters-input-title txt18 txt18_medium">Терафлю</span>
          </label>
          <label class="catalog__filters-label">
            <input name="brand" type="radio" class="catalog__filters-input" />
            <span class="catalog__filters-square"></span>
            <span class="catalog__filters-input-title txt18 txt18_medium">Отривин</span>
          </label>
          <label class="catalog__filters-label">
            <input name="brand" type="radio" class="catalog__filters-input" />
            <span class="catalog__filters-square"></span>
            <span class="catalog__filters-input-title txt18 txt18_medium">Бифиформ</span>
          </label>
        </form>
      </div>
    </div>

    <div class="catalog__filters-block">
      <p class="catalog__filters-title txt18 txt18_medium">Пероид действия</p>
      <div class="catalog__filters-datepicker-box">
        <label class="catalog__filters-datepicker-label">
          <input id="datepicker1" class="catalog__filters-datepicker" readonly placeholder="С" />
          <div class="catalog__filters-datepicker-svg-box">
            <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.999585 1.53906L8.57499 8.46047L16.1504 1.53906"
                stroke="#1D1F26"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </label>
        <label class="catalog__filters-datepicker-label">
          <input id="datepicker2" class="catalog__filters-datepicker" readonly placeholder="По" />
          <div class="catalog__filters-datepicker-svg-box">
            <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.999585 1.53906L8.57499 8.46047L16.1504 1.53906"
                stroke="#1D1F26"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </label>
      </div>
    </div>

    <div class="catalog__filters-block">
      <p class="catalog__filters-title txt18 txt18_medium">Площадка</p>

      <div class="catalog__filters-form-box">
        <label class="catalog__filters-search-box">
          <div class="catalog__filters-search-loupe-box">
            <img src="./assets/images/loupeFilterSearch.svg" alt="search" />
          </div>
          <input type="text" class="catalog__filters-search-input txt18 txt18_regular" placeholder="Поиск" />
          <button class="catalog__filters-search-clear-btn">
            <img src="./assets/images/clear.svg" alt="search" />
          </button>
        </label>
        <form action="" class="catalog__filters-form txt18 txt18_regular">
          <label class="catalog__filters-label">
            <input type="checkbox" class="catalog__filters-input" />
            <span class="catalog__filters-square"></span>
            <span class="catalog__filters-input-title txt18 txt18_medium">Apteka.ru</span>
          </label>
          <label class="catalog__filters-label">
            <input type="checkbox" class="catalog__filters-input" />
            <span class="catalog__filters-square"></span>
            <span class="catalog__filters-input-title txt18 txt18_medium">Stolichki</span>
          </label>
          <label class="catalog__filters-label">
            <input type="checkbox" class="catalog__filters-input" />
            <span class="catalog__filters-square"></span>
            <span class="catalog__filters-input-title txt18 txt18_medium">Будь Здоров</span>
          </label>
          <label class="catalog__filters-label">
            <input type="checkbox" class="catalog__filters-input" />
            <span class="catalog__filters-square"></span>
            <span class="catalog__filters-input-title txt18 txt18_medium">Отдел Сертификации</span>
          </label>
          <label class="catalog__filters-label">
            <input type="checkbox" class="catalog__filters-input" />
            <span class="catalog__filters-square"></span>
            <span class="catalog__filters-input-title txt18 txt18_medium">Apteka.ru</span>
          </label>
          <label class="catalog__filters-label">
            <input type="checkbox" class="catalog__filters-input" />
            <span class="catalog__filters-square"></span>
            <span class="catalog__filters-input-title txt18 txt18_medium">Stolichki</span>
          </label>
          <label class="catalog__filters-label">
            <input type="checkbox" class="catalog__filters-input" />
            <span class="catalog__filters-square"></span>
            <span class="catalog__filters-input-title txt18 txt18_medium">Будь Здоров</span>
          </label>
        </form>
      </div>
    </div>

    <div class="catalog__filters-block">
      <p class="catalog__filters-title txt18 txt18_medium">Карточек на странице</p>
      <div class="catalog__filters-count-card-list">
        <label class="catalog__filters-count-card-label">
          <input type="radio" name="countCard" class="catalog__filters-count-card-label-input" checked />
          <span class="catalog__filters-count-card-text">6</span>
        </label>
        <label class="catalog__filters-count-card-label">
          <input type="radio" name="countCard" class="catalog__filters-count-card-label-input" />
          <span class="catalog__filters-count-card-text">12</span>
        </label>
        <label class="catalog__filters-count-card-label">
          <input type="radio" name="countCard" class="catalog__filters-count-card-label-input" />
          <span class="catalog__filters-count-card-text">18</span>
        </label>
        <label class="catalog__filters-count-card-label">
          <input type="radio" name="countCard" class="catalog__filters-count-card-label-input" />
          <span class="catalog__filters-count-card-text">24</span>
        </label>
      </div>
    </div>
  </div>

  <!-- <button>тут будет кнопка очищения и возвращения к предыдущей странице</button> -->
</div>
