<ul class="catalog__selected-tab-list">
  <li class="catalog__selected-tab-item txt18 txt18_regular isActive">
    <div class="catalog__selected-tab-img-box">
      <img src="./assets/images/selectedTabsImg.webp" alt="" />
    </div>
    <p class="catalog__selected-tab-text txt18 txt18_regular">Sensodyne Clinical White Активное Отбеливание Sensodyne Clinical White Активное Отбеливание </p>
    <a href="#" class="catalog__selected-tab-download-box">
      <div class="catalog__selected-tab-svg-box catalog__selected-tab-svg-box--white">
        <img src="./assets/images/downloadWhite.svg" alt="download" />
      </div>
      <div class="catalog__selected-tab-svg-box catalog__selected-tab-svg-box--gray">
        <img src="./assets/images/downloadGray.svg" alt="download" />
      </div>
    </a>
  </li>
  <li class="catalog__selected-tab-item txt18 txt18_regular ">
    <div class="catalog__selected-tab-img-box">
      <img src="./assets/images/selectedTabsImg.webp" alt="" />
    </div>
    <p class="catalog__selected-tab-text txt18 txt18_regular">Sensodyne Clinical White </p>
    <a href="#" class="catalog__selected-tab-download-box">
      <div class="catalog__selected-tab-svg-box catalog__selected-tab-svg-box--white">
        <img src="./assets/images/downloadWhite.svg" alt="download" />
      </div>
      <div class="catalog__selected-tab-svg-box catalog__selected-tab-svg-box--gray">
        <img src="./assets/images/downloadGray.svg" alt="download" />
      </div>
    </a>
  </li>
  <li class="catalog__selected-tab-item txt18 txt18_regular ">
    <div class="catalog__selected-tab-img-box">
      <img src="./assets/images/selectedTabsImg.webp" alt="" />
    </div>
    <p class="catalog__selected-tab-text txt18 txt18_regular">Sensodyne Clinical White </p>
    <a href="#" class="catalog__selected-tab-download-box">
      <div class="catalog__selected-tab-svg-box catalog__selected-tab-svg-box--white">
        <img src="./assets/images/downloadWhite.svg" alt="download" />
      </div>
      <div class="catalog__selected-tab-svg-box catalog__selected-tab-svg-box--gray">
        <img src="./assets/images/downloadGray.svg" alt="download" />
      </div>
    </a>
  </li>
  <li class="catalog__selected-tab-item txt18 txt18_regular ">
    <div class="catalog__selected-tab-img-box">
      <img src="./assets/images/selectedTabsImg.webp" alt="" />
    </div>
    <p class="catalog__selected-tab-text txt18 txt18_regular">Sensodyne Clinical White </p>
    <a href="#" class="catalog__selected-tab-download-box">
      <div class="catalog__selected-tab-svg-box catalog__selected-tab-svg-box--white">
        <img src="./assets/images/downloadWhite.svg" alt="download" />
      </div>
      <div class="catalog__selected-tab-svg-box catalog__selected-tab-svg-box--gray">
        <img src="./assets/images/downloadGray.svg" alt="download" />
      </div>
    </a>
  </li>
  <li class="catalog__selected-tab-item txt18 txt18_regular ">
    <div class="catalog__selected-tab-img-box">
      <img src="./assets/images/selectedTabsImg.webp" alt="" />
    </div>
    <p class="catalog__selected-tab-text txt18 txt18_regular">Sensodyne Clinical White </p>
    <a href="#" class="catalog__selected-tab-download-box">
      <div class="catalog__selected-tab-svg-box catalog__selected-tab-svg-box--white">
        <img src="./assets/images/downloadWhite.svg" alt="download" />
      </div>
      <div class="catalog__selected-tab-svg-box catalog__selected-tab-svg-box--gray">
        <img src="./assets/images/downloadGray.svg" alt="download" />
      </div>
    </a>
  </li>
  <li class="catalog__selected-tab-item txt18 txt18_regular ">
    <div class="catalog__selected-tab-img-box">
      <img src="./assets/images/selectedTabsImg.webp" alt="" />
    </div>
    <p class="catalog__selected-tab-text txt18 txt18_regular">Sensodyne Clinical White Активное Отбеливание Sensodyne Clinical White Активное Отбеливание </p>
    <a href="#" class="catalog__selected-tab-download-box">
      <div class="catalog__selected-tab-svg-box catalog__selected-tab-svg-box--white">
        <img src="./assets/images/downloadWhite.svg" alt="download" />
      </div>
      <div class="catalog__selected-tab-svg-box catalog__selected-tab-svg-box--gray">
        <img src="./assets/images/downloadGray.svg" alt="download" />
      </div>
    </a>
  </li>
</ul>
