<header class="header">
  <div class="header__container container">
    <div class="header__inner">
      <div class="header__content-box">
        <div class="header__logo-box">
          <img src="./assets/images/logo.webp" alt="logo" />
        </div>
        <a href="#" class="header__add-card-btn txt18 txt18_medium">Добавить карточку</a>
      </div>
      <div class="header__user-box">
        <button class="header__enter-btn">
          <div class="header__enter-btn-svg-wrapper">
            <div class="header__enter-btn-svg-box">
              <img src="./assets/images/user.svg" alt="user" />
            </div>
          </div>
          <p class="header__enter-btn-text txt18 txt18_regular">Войти</p>
        </button>
        <a href class="header__favorite-btn">
          <div class="header__favorite-btn-svg-box">
            <img src="./assets/images/favoriteGreen.svg" alt="favorite" />
          </div>
        </a>
      </div>
    </div>
  </div>
</header>

<div class="fancybox-bg">
